NETWORK_DB_NAME=network
NETWORK_DB_URL=jdbc:postgresql://network-postgres:5432/${NETWORK_DB_NAME}
NETWORK_DB_USERNAME=<db_username>
NETWORK_DB_PASSWORD=<db_password>
JWT_SECRET=<jwt_secret>
JWT_ACCESS_TOKEN_TTL=15m
