SOCIAL_NETWORK_DB_NAME=social_network

SOCIAL_NETWORK_READ_DB_URL=jdbc:postgresql://haproxy:5432/${SOCIAL_NETWORK_DB_NAME}
SOCIAL_NETWORK_WRITE_DB_URL=jdbc:postgresql://haproxy:5433/${SOCIAL_NETWORK_DB_NAME}

SOCIAL_NETWORK_DB_USERNAME=<db_username>
SOCIAL_NETWORK_DB_PASSWORD=<db_password>

REPLICATION_USER=<db_replication_username>
REPLICATION_PASSWORD=<db_replication_password>

JWT_SECRET=<jwt_secret>
JWT_ACCESS_TOKEN_TTL=15m
