global
    log stdout format raw local0

defaults
    log global
    mode tcp

    timeout connect 5s
    timeout client 1h
    timeout server 1h


frontend postgres_write
    bind *:5432
    default_backend postgres_primary


frontend postgres_read
    bind *:5433
    default_backend postgres_replicas


backend postgres_primary
    mode tcp

    option httpchk GET /primary
    http-check expect status 200

    server postgres-1 postgres-1:5432 check port 8008
    server postgres-2 postgres-2:5432 check port 8008
    server postgres-3 postgres-3:5432 check port 8008


backend postgres_replicas
    mode tcp

    balance roundrobin

    option httpchk GET /replica
    http-check expect status 200

    server postgres-1 postgres-1:5432 check port 8008
    server postgres-2 postgres-2:5432 check port 8008
    server postgres-3 postgres-3:5432 check port 8008


frontend metrics
    mode http
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s
