global
    log stdout format raw local0

defaults
    log global
    mode tcp

    timeout connect 5s
    timeout client 30s
    timeout server 30s


frontend postgres_write
    bind *:5432
    default_backend postgres_master


frontend postgres_read
    bind *:5433
    default_backend postgres_replicas


backend postgres_master
    mode tcp

    server master postgres-master:5432 check


backend postgres_replicas
    mode tcp

    balance roundrobin

    server replica-1 postgres-replica-1:5432 check
    server replica-2 postgres-replica-2:5432 check
    server master postgres-master:5432 check backup
frontend metrics
    mode http
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s
